<h1 class="mt-5">Nested selectors</h1>
<hr>

<form [formGroup]="myForm" (ngSubmit)="save()">

  <!-- Region -->
  <div class="row mb-3">
    <div class="col">
      <label class="form-label">Continent</label>
      <select class="form-control" formControlName="region">
        <option value=""> -- Select Continent -- </option>
        <option *ngFor="let region of regions;"
                [value]="region | lowercase">{{region}}</option>
      </select>
    </div>
  </div>

  <!-- Country -->
  <div class="row mb-3" *ngIf="countries.length !== 0">
    <div class="col">
      <label class="form-label">Countries</label>
      <select class="form-control" formControlName="country">
        <option value=""> -- Select Country -- </option>
        <option *ngFor="let country of countries;"
                [value]="country.cca3 | lowercase">{{country.name.common}}</option>
      </select>
    </div>
  </div>

  <!-- Borders -->
  <div class="row mb-3" *ngIf="borders && borders.length !== 0">
    <div class="col">
      <label class="form-label">Borders</label>
      <select class="form-control" formControlName="border">
        <option value=""> -- Select Border Country -- </option>
        <option *ngFor="let border of borders"
                [value]="border.cca3| lowercase">{{border.name.common}}</option>
      </select>
    </div>
  </div>

  <div class="row" *ngIf="loading">
    <div class="col">
      <div class="alert alert-primary">
        Loading....
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col">
      <button class="btn btn-primary float-end" type="submit">
        Select
      </button>
    </div>
  </div>
</form>

<h3> Form: </h3>
<pre>Valid: {{myForm.valid}}</pre>
<pre>Value: {{myForm.value | json}}</pre>
